* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --bg-button: #065E7C;
    --bg-button-hover: #FFFFFF;
    --bg-input: #06181C;
    --bg-thead: #092D38;
    --bg-tboby: hsla(192, 63%, 3%, 1);
    --font-default: 'Roboto', sans-serif;
    --tx-color: #E1E1E6;
    --bg-tbody-tr-odd: rgba(6, 22, 27, 0.5);
    --bg-tbody-tr-even: #06181C;
}

body {
    background: var(--bg-color);
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 7rem;
}

body * {
    font-family: var(--font-default);
    color: var(--tx-color);
}

.sr-only {     /**Classe para ocultar elementos e permanecerem visíveis para os leitores de tela**/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/*Estilização cabeçalho*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.search, .search button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search input, .search button {
    border: none;
    border-radius: .3rem;
    height: 3rem;
}

.search input {
    background: var(--bg-input);
    width: 29rem;
    padding: 1rem;
    font-size: 1rem;
}

.search button {
    background: var(--bg-button);
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: .8rem;
}

.search button:hover, .search button:hover svg path {
    background-color: var(--bg-button-hover);
    color: var(--bg-button);
    fill: var(--bg-button);
}

/*Estilização da tabela*/

table * {
    font-size: 1rem;
    text-decoration: none;
}

table {
    text-align: left;
    border: 1px solid #4A808C;
    border-radius: 6px;
    border-collapse: collapse;
    
    display: block;
    max-height: 25.5rem;
    overflow: auto;
}

table thead {
    background:var(--bg-thead);
    position: sticky;
    top: 0;
}

table tbody {
    background: var(--bg-tboby); 
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #4A808C;
    border-radius: 1rem;
}

table thead tr th, table tbody tr td {
    padding: 1rem 2rem;
}

table tbody tr:nth-child(odd) {
    background: var(--bg-tbody-tr-odd);
}

table tbody tr:nth-child(even) {
    background:var(--bg-tbody-tr-even);
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img {
    border-radius: 50%;
    width: 3.5rem;
}

td.user p {
    font-weight: 700;
}

button.remove {
    border: none;
    cursor: pointer;
    background: none;
    color: #F75A68;
    font-weight: 700;
}

table tbody tr td div.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    padding: 5rem;
}

table tbody tr td div.empty h1 {
    font-family: 'Roboto Mono', monospace;
    color: #4E5455;
}