* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #000000;
    --bg-button: #065E7C;
    --bg-input: #06181C;
    --bg-thead: #092D38;
    --font-default: 'Roboto', sans-serif;
    --tx-color: #E1E1E6;
}

body {
    background: var(--bg-color);
    padding: 115px 160px 0;
}

body * {
    font-family: var(--font-default);
    color: var(--tx-color);
}

/*Estilização cabeçalho*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 87px;
}

.search, .search button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search input, .search button {
    border: none;
    border-radius: 5px;
    height: 48px;
}

.search input {
    background: var(--bg-input);
    width: 462px;
    padding: 1rem;
    font-size: 1rem;
}

.search button {
    background: var(--bg-button);
    cursor: pointer;
    padding: 12px 2rem;
    font-weight: 700;
    font-size: 14px;
}

/*Estilização da tabela*/

table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    background:var(--bg-thead);
}